---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Clients">
  <Header />

  <main class="max-w-2xl mx-auto px-5">
    <h1 class="mb-4">Clients</h1>
    <p class="mb-4">
      Taptive is focused on the Stacks ecosystem. Learn more about <a href="https://stacks.org/welcome-to-stacks" target="_blank" rel="noopener noreferrer">Stacks</a>.
    </p>
    <p>
      Through supporting the Stacks Foundation, Taptive has worked with many companies in the Stacks economy, like Hermetica, Stacking DAO, and Bitflow.
    </p>
  </main>

  <Footer />
</Layout>
