---
import '../styles/global.css'

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Taptive is a growth agency for the Bitcoin economy" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Taptive</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <slot />
  </body>
</html>
